{% extends "materials/layout.html" %}
{% load static %}

{% block title %} Literature {% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
    $("#LiteratureSearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#LiteratureTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    // Material Select Initialization
    $('.mdb-select').materialSelect();

});
</script>
<script type="text/babel" src="{% static 'materials/literature.js' %}"></script>
{% endblock %}

{% block header %}
<div class="material-header container-fluid d-flex flex-column justify-content-end">
  
    <!-- Header with buttons -->
  
    <div class="row align-items-end px-4">

      {% if type == "theory" %}
      <div class="display-3 text-center text-white col-12 col-sm-auto">Підручники</div>
      <div class="btn-group" role="group" aria-label="other_literature">
        <a href="{% url 'literature' 'problems' %}" role="button" class="btn btn-outline-white waves-effect">Задачники</a>
        <a href="{% url 'literature' 'exp' %}" role="button" class="btn btn-outline-white waves-effect">Експеримент</a>
      </div>
      {% elif type == "problems" %}
      <div class="display-3 text-center text-white col-12 col-sm-auto">Задачники</div>
      <div class="btn-group" role="group" aria-label="other_literature">
        <a href="{% url 'literature' 'theory' %}" role="button" class="btn btn-outline-white waves-effect">Підручники</a>
        <a href="{% url 'literature' 'exp' %}" role="button" class="btn btn-outline-white waves-effect">Експеримент</a>
      </div>
      {% elif type == "exp" %}
      <div class="display-3 text-center text-white col-12 col-sm-auto">Експеримент</div>
      <div class="btn-group" role="group" aria-label="other_literature">
        <a href="{% url 'literature' 'theory' %}" role="button" class="btn btn-outline-white waves-effect">Підручники</a>
        <a href="{% url 'literature' 'problems' %}" role="button" class="btn btn-outline-white waves-effect">Задачники</a>
      </div>
      {% endif %}
  
    </div>
  
</div>
{% endblock %}

{% block main %}
  <!-- Content -->
<div class="row justify-content-center px-2 pt-4 pt-xl-5" data-type="{{ type }}" id="material-content">
</div>
{% endblock %}