{% extends "materials/layout.html" %}
{% load static %}

{% block title %} Search {% endblock %}

{% block script %}
<script type="text/babel" src="{% static 'materials/materials.js' %}"></script>
{% endblock %}

{% block header %}
<div class="container-fluid d-flex justify-content-center px-0" style="position: absolute; z-index: 1;">
    <svg height="150" viewBox="0 0 1920 150" style=" width:100%;" preserveAspectRatio="xMidYMid slice">
        <ellipse cx="1000" cy="40" rx="1000" ry="100" class="material-ufo" />
    </svg>
</div>
{% endblock %}

{% block main %}
<div id="material-search">
</div>
{% endblock %}