{% extends "upho/layout.html" %}

{% block title %} Literature {% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
    $("#LiteratureSearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#LiteratureTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    // Material Select Initialization
    $('.mdb-select').materialSelect();

});
</script>
<script type="text/babel">

    class MaterialRow extends React.Component {
      render() {
        return (
          <tr style={this.props.style}>
              <td>{this.props.row.title}</td>
              <td></td>
              <td>{this.props.row.file ? <a href={this.props.row.file}><i className="fas fa fa-download"></i></a> : null}</td>
          </tr>
        );
      }
    }
    
    class MaterialTable extends React.Component {
      render() {
        return (
          <table className="table table-striped mb-4">
            <tbody id="LiteratureTable">
              {this.props.rows}
            </tbody>
          </table>
        );
      }
    }
  
    class Literature extends React.Component {
      render() {
        const rows = [];
        const style = {borderLeft: "4px solid lightgray"}
        this.props.literature.forEach(row => {
          rows.push(
            <MaterialRow row={row} key={row.id} style={style} />
          );
        });
        return(
          <div>
            <MaterialTable rows={rows} />
          </div>
        );
      }
  
    }

    class ContentHeaders extends React.Component {
      render() {
        const options = [];
        this.props.supersections.forEach(element => {
          options.push(
            <option value={element.title}>{element.title}</option>
          );
        });
        return (
            <div className="row justify-content-between">
                <div className="col-3 form-inline d-flex justify-content-center md-form form-sm my-0">
                    <i className="fas fa-search" aria-hidden="true"></i>
                    <input className="form-control form-control-sm ml-3 w-75" id="LiteratureSearch" type="text" placeholder="Назва/Автор">
                    </input>
                </div>
                <div className="col-3 mr-0">
                    <select className="selectpicker pb-2" multiple title="Розділи" data-style="z-depth-0 border-bottom black-text" data-dropdown-align-right="true">
                       {options}
                    </select>
                </div>
            </div>
        );
      }
    }
  
  
    class Content extends React.Component {
      render() {
        return (
          <div className="col-md-12 col-xl-8">
            <ContentHeaders type={this.props.type} supersections={this.props.supersections} />
            <Literature literature={this.props.literature} type={this.props.type} />
          </div>
        );
      }
    }
  
  const type = "{{ type }}";

  const literature = {{ literature }};

  const supersections = {{ supersections_list }};
  
  ReactDOM.render(<Content literature={literature} type={type} supersections={supersections} />, document.getElementById('material-content'));
  
  </script>
{% endblock %}

{% block header %}
<div class="material-header container-fluid d-flex flex-column justify-content-end">
  
    <!-- Header with buttons -->
  
    <div class="row align-items-end px-4">

      {% if type == "theory" %}
      <div class="display-3 text-center text-white col-12 col-sm-auto">Підручники</div>
      <div class="btn-group" role="group" aria-label="other_literature">
        <a href="{% url 'literature' 'problems' %}" role="button" class="btn btn-outline-white waves-effect">Задачники</a>
        <a href="{% url 'literature' 'exp' %}" role="button" class="btn btn-outline-white waves-effect">Експеримент</a>
      </div>
      {% elif type == "problems" %}
      <div class="display-3 text-center text-white col-12 col-sm-auto">Задачники</div>
      <div class="btn-group" role="group" aria-label="other_literature">
        <a href="{% url 'literature' 'theory' %}" role="button" class="btn btn-outline-white waves-effect">Підручники</a>
        <a href="{% url 'literature' 'exp' %}" role="button" class="btn btn-outline-white waves-effect">Експеримент</a>
      </div>
      {% elif type == "exp" %}
      <div class="display-3 text-center text-white col-12 col-sm-auto">Експеримент</div>
      <div class="btn-group" role="group" aria-label="other_literature">
        <a href="{% url 'literature' 'theory' %}" role="button" class="btn btn-outline-white waves-effect">Підручники</a>
        <a href="{% url 'literature' 'problems' %}" role="button" class="btn btn-outline-white waves-effect">Задачники</a>
      </div>
      {% endif %}
  
    </div>
  
</div>
{% endblock %}

{% block main %}
  <!-- Content -->
<div class="row justify-content-center px-2 pt-4 pt-xl-5" id="material-content">
</div>


{% endblock %}