{% extends "upho/layout.html" %}
{% load static %}

{% block title %} Olympiad {% endblock %}

{% block script %}

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- Add JSX to a Project before deployment! -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script src="{% static 'upho/olympiad.js' %}"></script>

{% endblock %}

{% block main %}

    <!-- Olympiad files  -->

    <div class="olymp-files container-fluid" id="olymp-files" data-olymp_type="{{ olymp_type }}" data-static_location="{{ static_location }}">
    </div>

{% endblock %}